@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 180, 2%, 17%;
    --foreground: 240 10% 3.9%;

    --dark: 0, 0%, 0%, 0.3;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 101, 100%, 88%, 1;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0%, 0%, 0.3;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-pagePrimary text-foreground;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: #000; */
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  font-family: 'Inter';
}

@media (max-width: 1200px) {
  .dashboard-menu {
    @apply fixed top-0 left-0 right-0 z-10 flex lg:justify-around;
    @apply p-2;
    @apply -translate-x-full;
  }

  .dashboard-menu.open {
    @apply translate-x-0;
  }
}

@keyframes spinner {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }

  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}

/* SPINNER */
.spinner {
  position: absolute;
  left: 50%;
  top: 46%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border-top: 7px solid #e2e7e9;
  border-right: 7px solid #e2e7e9;
  border-bottom: 7px solid #e2e7e9;
  border-left: 7px solid #ccd1d3;
  animation: spinner 1.1s linear infinite;
}