.voting_popup_bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #0000008a;
    display: grid;
    place-items: center;
}

.voting_popup {
    padding: 30px;
    background: #fff;
    border-radius: 20px;
}

.voting_popup h4 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.header_p {
    font-size: 16px;
    text-align: center;
    opacity: 0.6;
    font-weight: 400;
    margin-top: 15px;
}

.choice {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

.v_pop_content {
    border-radius: 10px;
    border: 1px solid #00000019;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    gap: 10px;
    margin-top: 20px;
}

.choice_option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: #0000000a;
    padding: 10px;
    border-radius: 50px;
}

.choice_option div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.choice_option div span {
    font-weight: bold;
    font-size: 14px;
    opacity: 0.5;
}

.select_all {
    float: right;
    width: 100px;
    font-weight: bold;
    background: #F2F2F2;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

.vote_btn {
    background: #ECECEC;
    color: #4D4D4D;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    font-size: 18px;
    border-radius: 50px;
    margin-top: 70px;
    width: 100%;
}

.v_pop_content p {
    font-size: 15px;
}

.custom-checkbox-container {
    display: flex;
    align-items: center;
}

/* Hide the default checkbox */
.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Style the custom checkbox */
.custom-checkbox .checkmark {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    background-color: #fff;
    margin-right: 10px;
}

/* Show the custom checkbox as checked when the input is checked */
.custom-checkbox input:checked+.checkmark {
    background-color: #00ff51;
    /* Change color when checked */
}

/* Style the checkmark inside the custom checkbox */
.custom-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark inside the custom checkbox when the input is checked */
.custom-checkbox input:checked+.checkmark:after {
    display: block;
}

/* Style the checkmark (icon) */
.custom-checkbox .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.voting_container {
    display: flex;
    flex-direction: column;
    background: #E9E9E9;
    border: 1px solid #D1D1D1;
    padding: 20px;
}

.container_header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.nested_poll_header {
    margin-bottom: 20px;
}

.nested_poll_header h4 {
    color: #464646;
    font-weight: bold;
    font-size: 16px;
}

.nested_poll_header p {
    color: #747474;
    font-size: 14px;
    font-weight: 500;
    margin-top: 3px;
}

.eth_holding_container {
    padding: 10px;
    border-radius: 10px;
    background: #DDDDDD;
    margin-top: 24px;
}

.eth_holding_container div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.eth_holding_container div img {
    width: 24px;
}

.eth_holding_container h4 {
    color: #6E6E6E;
    font-size: 16px;
    font-weight: bold;
}

.eth_holding_container h4 span {
    color: #424242;
    font-size: 16px;
    font-weight: 500;
}

.eth_holding_container p {
    color: #6E6E6E;
    font-size: 14px;
    margin: 6px 0 15px 0;
    font-weight: 500;
}

.eth_holding_container span {
    color: #000;
    font-size: 14px;
    font-weight: bold;
}

.user_voted {
    width: 100%;
    padding: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #000;
    border-radius: 10px;
    margin-bottom: 20px;
}

.user_voted span {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

.options_container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.gated_poll_disabled {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(236, 236, 236, 0.6);
    backdrop-filter: blur(2px);
    display: grid;
    place-items: center;
    z-index: 1;
    border-radius: 10px;
}

.gated_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gated_content div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.gated_content div img {
    width: 25px;
}

.gated_content div span {
    color: #4C4C4C;
    font-size: 16px;
    font-weight: bold;
}

.gated_content p {
    color: #000;
    font-size: 13px;
    font-weight: 500;
    margin-top: 8px;
}